# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Android
/android/app/debug
/android/app/profile
/android/app/release
*.jks
*.keystore
local.properties

# iOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Pods/

# Misc
*.log
pubspec.lock
PUBSPEC_CHANGES.md
